// Bootstrap and its default variables
@import "../variables.scss";

html,
body {
  height: 100%;
  background-color: $secondarySpotlight-bg;
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#app {
  .app-container {
    margin: 2em auto;
    max-width: 1240px;
    width: 100%;
    flex-grow: 1;
    box-shadow: $white-container-shadow;
    background-color: $white-bg;
    padding: 20px;
    border-radius: 5px;
  }
}
