$base-color: #f4f0e8;
$white-bg: #ffffff;
$white: #ffffff;
$black: #000000;
$primary-call-action: #5e10b1;
$primary-call-action-hover: #42145f;
$primary-call-action-text: #ffffff;
$secondary-call-action-hover: rgba(165,140,195,.1);
$spotlight-bg: #5a287d;
$secondarySpotlight-bg: #f4f0e8;
$white-container-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
$normal-text-color: rgba(0,0,0,0.8);
$divider-color: #e4e4e4;
$banner-1: #f6f3f9;
$heading-theme: #42145f;
$form-error-bg: #fde6e6;
$form-error-color: #cf223f;
$form-error-border: 2px solid $form-error-color;
$text-color-dark:#333333;
$light-drag-color:rgba(165, 140, 195, .1);
$progress-indicator-bg:#74ba76;
$progress-indicator-btn: #FFC107;
$preview-bg: rgba(0, 0, 0, .1);